@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: white;
    margin: 0;
}

main {
    margin-left: 4%;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(56, 9, 121, 1) 35%, rgb(0, 255, 201) 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.7em;
    margin: 0;
    height: 220px;
}

h2 {
    font-size: 2.2em;
    color: black;
    margin: 3% 0px 0px 5%;
    padding: 15px;
    font-weight: 800;
}

ol.homeList {
    font-size: x-large;
    margin: 41px;
    margin-left: 5%;
}

li {
    padding: 1em;
}

ol a {
    color: #009e9e;
}

nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    text-align: right;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(56, 9, 121, 1) 35%, rgb(0, 255, 201) 100%);
    font-size: x-large;
}

nav ul li {
    padding: 0;
}

nav li a {
    display: inline-block;
    color: white;
    background-color: #380979;
    text-decoration: none;
    white-space: nowrap;
    padding: 1em;
    margin-right: 5%;
}

nav a:hover {
    background-color: #6c31be;
}

p {
    font-size: large;
}

pre code {
    background-color: #eee;
    border: 1px solid black;
    display: block;
    padding: 20px;
    font-family: monospace;
    width: 70%;
}